@model MyBlog.Models.mb_user

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>mb_user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fans_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fans_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User_pwd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User_pwd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.User_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
